<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.QuanLyDaiLy">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.DangKyActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.TaoDonHangActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:label="Tạo Đơn Hàng Mới"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ChiTietSanPhamActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.GioHangActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.DanhMucSachActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.EditSanPhamActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.ChiTietDonHangActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.ThanhToanActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.ChinhSuaThongTinActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.LapPhieuCongNoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.ChiTietCongNoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.EditKhoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

        <activity
            android:name=".ui.ChiTietKhoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.QuanLyDaiLy.NoActionBar" />

    </application>

</manifest>
